<template name="reset_password">
  <section id="login" class="default-bgc">
    <div class="row">
      <div class="small-8 columns right-bordered">
        <h4 class="column-title">Set a new password.</h4>
		<div class="server-message text-center hide"></div>
        <form method="POST" id="reset_password" data-abide>
          <div class="row">
						<div class="small-6 columns">
			        <label for="password">Password <small>required</small></label>
			        <input type="password" id="password"
			        placeholder="Enter Password" name="password" required="">
			        <small class="error">Passwords must be at least 8 
			        	characters with 1 capital letter, 1 number 
			        	and one special character.</small>
			      </div>
						<div class="small-6 columns">
			        <label for="confirmPassword">Confirm Password
			        	<small>required</small>
			        </label>
			        <input type="password" id="confirmPassword" 
			        placeholder="Enter Password again" name="confirmPassword" 
			        required="" data-equalto="password">
			        <small class="error">Passwords must match.</small>
		      </div>
          </div>

          <div class="row">
            <div class="small-4 columns">
              <input type="submit" name="reset-submit" value="Set Password"
                class="button small">
            </div>
          </div>
        </form>
      </div>
    </div>
</template>